/* Estilos generales de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Contenedor principal que alinea los elementos de texto y la previsualización de la imagen */
#contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
}

/* Contenedor para la previsualización de texto */
#textPreviewContainer {
    flex-grow: 1;
    padding-right: 20px;
}

/* Estilos para la previsualización de texto */
#output {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilos para el cuadro de edición de texto */
#editedText {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

/* Contenedor para la previsualización de la imagen */
#imagePreviewContainer {
    flex-grow: 1;
    text-align: center;
}

/* Estilos para la previsualización de la imagen */
#imagePreview {
    max-width: 100%; /* Ancho máximo */
    max-height: 100vh; /* Altura máxima */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones */
.button {
    display: center;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para centrar el botón de seleccionar archivo */
.file-input-container {
    text-align: center;
}

.button-primary {
    background-color: #007bff;
    color: white;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-secondary {
    background-color: #6c757d;
    color: white;
}

.button-secondary:hover {
    background-color: #5a6268;
}

/* Estilos para la barra de carga */
.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 20px;
    background-color: #007bff;
    transition: width 0.3s;
}

/* Estilos para mensajes de alerta */
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

